/* FLIP CARD*/
.contenedormenu {
  position: relative;
  width: 250px;
  height: 320px;
  background: green;
}

.thecard {
 position: absolute;
 width: 100%;
 height: 100%;
 transform-style: preserve-3d;
 transition: all 0.5s ease;
 background: yellow;
}

.thefront{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #b90202;
  color: #333;
}
.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  color: #333;
  transform: rotateY(100deg);
}
