body {
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;   
}
.fondo1 {
    background-image: url(img/fondoLogin.jpg);
}
.login {
    display: flex;
    flex-flow: column wrap;
    height: 512.14px;
    margin: 0 auto;
    width: 370px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    background: rgba(208, 197, 197, 0.4);
box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.logopokemon{
    width: 218px;
    height: 137px;
    align-self: center;
}
.login label {
    font-family: Open Sans;
    font-style: normal;
    font-size: 16px;
    line-height: 35px;
    color: #000000;
}
.Olvidastecontrasenha{
    align-self: flex-end;
}
.Registrate{
    align-self: center;
}
.login input{
    background: #FFFFFF;
    border-radius: 2px;
    line-height: 25px;
    margin-bottom: 12px;

}
.login button{
    background: rgba(26, 153, 224, 0.8);
    padding-top:10px;
    padding-bottom:10px;
    box-shadow: 4px 4px 4px rgba(156, 150, 150, 0.92);
    border-radius: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    cursor: pointer;
}
.login button:active{
transform: scale(0.95);
}

#vistaError{
    width: 375px;
    height: 667px;
    text-align: center;
}


#pikallorando{
    width: 183px;
    height: 172px;
    margin-top: 10vh;
    border-radius: 100px;
}

#fondoParrafoError{
    width: 297px;
    height: 108px;
    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(208, 197, 197, 0.4);
    margin-left: 3vh;
    margin-top: 5vh;
}
#parrafoError{
    width: 299px;
    height: 80px;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-top: 4vh;
    color: #000000;
}

@media (min-width: 1200px){

    #vistaError{
        width: 1280px;
        height: 716px;
      
    }

    #pikallorando{
        width: 332px;
        height: 309px;
        margin-top: 10vh;
        border-radius: 200px;
    }

    #fondoParrafoError{
        width: 517px;
        height: 210px;
        box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.1);
        background-color: rgba(208, 197, 197, 0.4);
        margin-left: 3vh;
        margin-top: 5vh;
    }

    #parrafoError{
        width: 299px;
        height: 80px;
        font-family: OpenSans;
        font-size: 15px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        padding-top: 4vh;
        color: #000000;
    }
    
}




.hide{
    display: none;
}