/*CSS PARA EL LOGIN WEB Y MOVIL*/
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import url(flipcard.css);
#vista-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(img/fondoLogin.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.login {
  display: flex;
  flex-flow: column wrap;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  background: rgba(129, 107, 107, 0.37);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  width: 331px;
  height: 500px;
}
.logopokemon {
  width: 218px;
  height: 137px;
  align-self: center;
}
.login label {
  font-family: Open Sans;
  font-style: normal;
  font-size: 16px;
  line-height: 35px;
  color: #000000;
}
.olvidaste-contrasenha {
  align-self: flex-end;
}
.registrate {
  align-self: center;
}
.login input {
  background: #FFFFFF;
  border-radius: 2px;
  line-height: 25px;
  margin-bottom: 12px;
  inline-size: 307px
}
.login button {
  background: rgba(26, 153, 224, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 4px 4px 4px rgba(156, 150, 150, 0.92);
  border-radius: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 20px;
  cursor: pointer;
}
.login button:active {
  transform: scale(0.95);
}
/*Para esconder vistas*/
.hide {
  display: none !important;
}
/*Pie de página para movil*/
.footer {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  color: #000000;
  text-align: center;
  margin-top: -26px;
}
/*CSS PARA LA PANTALLA DE ERROR PARA MOVIL*/
#vista-error {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-image: url(img/fondoLogin.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.contenedor-error {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
#pikallorando {
  width: 183px;
  height: 172px;
  margin-top: 9vh;
  border-radius: 100px;
  align-self: center;
}
#fondo-parrafo-error {
  width: 290px;
  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(208, 197, 197, 0.4);
  margin-top: 10vh; 
}
#parrafo-error {
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
#fondo-parrafo-error p {
  margin-top: 8px;
}
.combo-centrado{
  display: flex;
  justify-content: center;
}
/*CSS PARA EL MENU DE INICIO PARA WEB*/
/*Barra de menu para web*/
header {
  width: 100vw;
  height: 62px;
  top: 0;
  left:0;
  background: rgba(6, 184, 56, 0.75);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.logo-pokemon-menu { /*logo de menu*/
  width: 94px;
  height: 60px;
}
header label {
  display: none !important;
  float: right;
}
header img {
  float: left;
}
.barra-menu {
  display: none;
}
#btn-menu{
  display: none;
}
.menu ul {
  background: rgba(10, 10, 10, 1);
  display:flex;
  list-style: none;
  height: 62px;
  float: right;
  align-items: center;
  padding-left: 0px;
}
.menu ul ul {
  display: none;
}
.menu a {
  display: block;
  padding: 19px 33px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.menu a:hover {
  background: rgba(80, 78, 78, 0.836);
  top: 0%;
  color: #FFFFFF;
  text-decoration: none;

}
.menu ul li:hover .uno {
  display: block;
  position: absolute;
  width: 195px;
  height: 245px;
  background: rgba(248, 96, 8, 1);
}
.menu ul li:hover .dos {
display: block;
position: absolute;
width: 181px;
height: 145px;
background: rgba(248, 96, 8, 1);
}
.glyphicon {
  font-size: 23px;
}
/*Mostrar pokemones para movil*/
#vista-inicio {
    background-image: url(img/fondoMenu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    
}
#vista-inicio .contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contenedor img {
  width: 116px;
  background: #C4C4C4;
}
#pokemones {
  margin: 3px;
  padding: 15px;
}
.contenedor-info p {
  text-align: center;
}
#vista-inicio .p-nombre {
  font-weight: 800;
  font-size: 13px;
}
#vista-inicio .p-numbertipo {
  margin-top: -10px;
  font-size: 12px;
}
#vista-inicio .contenedor-info {
  background: #D9DC41;
}
#vista-inicio .buscador {
  padding: 8px;
  margin-top: 78px;
  width: 253px;
}
#vista-inicio .contenedor-buscar {
  display: flex;
  justify-content: center;
}
/*Barra de menu para movil*/
@media (max-width:768px){
  header label {
    display: block !important;
    font-size: 28px;
    margin: 10px 10px;
    margin-top: 16px;
}
.menu {
    position: absolute;
    top: 62px;
    left:0;
    width: 100%;
    transition: all 0.5s;
    
    transform: translateX(-100%);
}
.menu ul {
    display: block;
    background: rgba(10, 10, 10, 0.9);
    width: 100%;
    height: 100vh;
}

.menu ul li:hover ul {
    display: none;
}
#btn-menu:checked ~ .menu {
    transform: translateX(0%);
}
.item-menu:focus ~ .sub-menu, 
.item-menu:active ~ .sub-menu, 
.item-menu:hover .sub-menu{ 
display: block; 
}
.menu ul li:hover .uno {
  display: contents;
}
.menu ul li:hover .dos {
  display: contents;
}
/*Resultado de texto: cantidad y porcentaje de pokemones*/
.mensaje-seleccione {
  font-size: 16px;
  margin-right: 10px;
  text-align: center;
  font-family:  'Concert One', cursive;
  color: rgb(11, 16, 218);
  font-weight: 800;
}
#seleccion-tipo, #seleccion-porc, #seleccion-debilidad {
  height: 24px;
}
.resultado-cantidad {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
}
/*Haciendo el responsive para web*/

@media (min-width:1024px) {
  
  /*Barra de submenu*/
  .menu ul li:hover .uno {
    display: block;
    position: absolute;
    width: 195px;
    height: 244px;
    background: rgba(248, 96, 8, 1);
  }
  .menu ul li:hover .dos {
  display: block;
  position: absolute;
  width: 181px;
  height: 144px;
  background: rgba(248, 96, 8, 1);
  }

  /*Haciendo el responsive para la página de mostrar*/

#vista-inicio .buscador {
    margin-top: 90px;
    width: 500px;
}
#pokemones {
    padding: 23px;
}
.contenedor img {
  width: 168px;
  background: #C4C4C4;
}
  /*Haciendo el responsive para pantalla de error*/
  #fondo-parrafo-error p {
    margin-top: 13px;
    margin-left: 17px;
}
#fondo-parrafo-error {
  width: 414px;
}
#parrafo-error {
  font-size: 22px;
}
.footer {
    font-size: 20px;
    text-align: center;
    margin-top: -42px;
  }
  .mensaje-seleccione {
    font-size: 30px;
    margin-right: 26px;
    font-family: 'Concert One', cursive;
    -webkit-text-stroke: 0.1px rgb(251, 212, 13);
  }
  #seleccion-tipo, #seleccion-porc, #seleccion-debilidad {
    height: 40px;
    width: 187px;
    font-weight: 600;
  }
  .resultado-cantidad {
    display: flex;
    justify-content: center;
    font-family: 'Concert One', cursive;
    color: black;
    font-size: 32px;
  }
}
/*CSS PARA EL BUSCAR POKEMON*/
#especifico {
  background-color: rgb(97, 95, 95);
  width: 335px;
  display: flex;
  justify-content: center;
}
#letras {
    background-color: bisque;
    padding: 14px;
    width: 215px;
  }
.comboBox {
  margin: 61px;
  width: 166px;
  padding: 8px;
}
.ocultarComboBox {
  display: none;
}
/*Texto de dato*/

.margen{
 padding-top: 21px;
  text-align: center;
}
.img-huevo {
  width: 52px;
  margin-top: -8px;
  margin-right: 8px;
}
.img-cerrar, .img-filtrar, .img-ordenar {
  width: 40px;
  margin-top: -8px;
  margin-right: 8px;
}
